<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="datasource=127.0.0.1;port=3306;database=agenda_aziendale;" />
	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IServiceAgendaAziendale" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8733/Design_Time_Addresses/ServerAziendale/ServiceAgendaAziendale/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAgendaAziendale"
    contract="SRAgendaAziendale.IServiceAgendaAziendale" name="BasicHttpBinding_IServiceAgendaAziendale" />
  </client>
 </system.serviceModel>
</configuration>